html {

    color: white;
}



#intro {
    margin: auto;
    align-items: center;
    text-align: center;
}





.main-landing {
    background: rgb(53, 117, 93) url('../images/bg1.jpg') no-repeat center center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-size: cover;
    position: relative;
    animation: slideShow 15s infinite;
}




@keyframes slideShow {
    50% {
        background-image: url('../images/bg1.jpg');
    }

    50% {
        background-image: url('../images/bg2.jpg');
    }


}



.main-link {
    position: absolute;
    bottom: 10px;

    left: 10px;

}

.main-link a {
    text-decoration: none;
}

.main-link h1 {
    font-size: 10rem;
    margin: 0;
}


@media (max-width: 700px) {
    .main-link h1 {
        font-size: 5rem;

    }


}



@media(max-width: 370px) {
    .main-link h1 {
        font-size: 4rem;

    }


    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .quicklinkCard {
        margin: 10px;
        border: 1px solid var(--second-alt-color);
        border-radius: 3px;
        overflow: hidden;
        width: 300px;
        padding: 20px;
        transition: transform 0.3s;




        img {



            border-radius: 10px 10px 10px 0;

            object-fit: cover;

        }


        &:hover {

            background-image: var(--bg-gradiant);
            transform: translateY(-5px);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);


        }
    }