html {

    color: white;
}



#intro {

    margin: auto;
    align-items: center;
    text-align: center;
}




.slider {
    display: block;
    margin: auto;
    position: relative;
    width: 90dvw;
    height: 50dvh;
    max-height: 30dvh;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: transparent;

    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
}


.slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.left {

    animation-name: slide-left;
}

.right {
    animation-name: slide-right;
}

@keyframes slide-left {
    0% {
        left: -200px;
        opacity: 0;
    }

    50% {
        left: 50%;
        opacity: 1;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}

@keyframes slide-right {
    0% {
        right: -200px;
        opacity: 0;
    }

    50% {
        right: 50%;
        opacity: 1;
    }

    100% {
        right: 100%;
        opacity: 0;
    }
}




.scroller {

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    gap: 10px;
    margin: 10%;
}




.informationBox {
    .cards {

        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        :hover {
            background-color: aqua;
            border-radius: 20px;


        }
    }

    .quicklinkCard {

        margin: 3px;
        border: solid 1px #FFFE9D;
        border-radius: 3px;
        overflow: hidden;
        object-fit: cover;
        width: 300px;

        img {
            width: 90%;
            height: 300px;
            display: block;
            margin: auto;
            object-fit: scale-down;


        }
    }


}