html {

    color: white;
}



#intro {
    margin: auto;
    align-items: center;
    text-align: center;
}




.slider {
    display: block;
    margin: auto;
    position: relative;
    width: 90dvw;
    height: 50dvh;
    max-height: 30dvh;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: transparent;

    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
}


.slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.left {

    animation-name: slide-left;
}

.right {
    animation-name: slide-right;
}

@keyframes slide-left {
    0% {
        left: -200px;
        opacity: 0;
    }

    50% {
        left: 50%;
        opacity: 1;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}

@keyframes slide-right {
    0% {
        right: -200px;
        opacity: 0;
    }

    50% {
        right: 50%;
        opacity: 1;
    }

    100% {
        right: 100%;
        opacity: 0;
    }
}




.scroller {

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    gap: 10px;
    margin: 10%;
}



/*     cards styles     */



.informationBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.quicklinkCard {
    margin: 10px;
    border: 1px solid var(--second-alt-color);
    border-radius: 3px;
    overflow: hidden;
    width: 300px;
    padding: 20px;
    transition: transform 0.3s;




    img {
        width: 100%;
        height: auto;

        border-radius: 10px 10px 10px 0;

        object-fit: cover;

    }


    &:hover {

        background-image: var(--bg-gradiant);
        transform: translateY(-5px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);


    }
}

.container {
    padding: 5% 20%;
    display: block;
    margin: auto;
    padding: center;
    background-image: var(--bg-gradiant);
}