body,
html {
    background-color: #1A2136;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
}

nav {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #CFAE6B;
}



li,
a,
img {

    display: inline-block;
    text-decoration: none;
    margin: 5%;

    :hover {
        color: white
    }
}

#navbar {
    top: 0;
    position: relative;
}